<h1>
    Оценка рисков (ﾉ◕ヮ◕)ﾉ
</h1>
<form action="/" method="post">
  введите id <input id=identifier, name="identifier"> 
  <br/>
  <br/>
  введите возраст <input id=age, name="age"> 
  <br/>
  <br/>
  введите вес <input id=weight placeholder="в килограммах", name="weight"> кг
  <br/>
  <br/>
  введите рост <input id=height placeholder="в сантиметрах", name="height"> см
  <br/>
  <br/>
  <button type="submit">Оценить</button>
</form> 
<br/>
<br/>
<form action="/find_data" method="post">
  введите id <input id=find_id, name="find_id"> 
  <br/>
  <br/>
  <button type="submit">Найти данные по id</button>
</form>